## Estructuras de datos, programacion estructurada y funciones
- Autor: Luis Alpizar
- Fecha: 23/12/24

In [1]:
milista1 = [1,2,3,4,5]
milista1

[1, 2, 3, 4, 5]

In [4]:
milista1[0]
milista1[1]
milista1[2]
milista1[3]
milista1[4]

5

In [7]:
milista1[-1]

5

In [8]:
milista2 = [5,3,2,4,1]
milista2

[5, 3, 2, 4, 1]

In [11]:
milista2.append(7)
milista2

[5, 3, 2, 4, 1, 7]

In [12]:
milista2.pop(1) #borra el indice que se indique, sino se indica borra el ultimo
milista2

[5, 2, 4, 1, 7]

In [13]:
milista2.sort()
milista2

[1, 2, 4, 5, 7]

In [14]:
milista2.sort(reverse=True)
milista2

[7, 5, 4, 2, 1]

In [16]:
milista2.index(2)

3

In [17]:
#Slicing
#milista2[inicio(inclusive):final(no incluido):paso]
# -> Si el inicio no se especifica por defecto es 0
# -> Si el final no se especifica por defecto es el ultimo elemento
# -> Si el paso no se especifica por defecto es 1

milista2[0:2:1]

[7, 5]

In [18]:
milista2[:2]

[7, 5]

In [19]:
milista2[1:3]

[5, 4]

In [23]:
milista2[3:]

[2, 1]

In [24]:
milista2[0:3:2]

[7, 4]

In [34]:
milista2[1:5:3]

[5, 1]

In [35]:
milista2[0::3]

[7, 2]

In [36]:
#[7, 5, 4, 2, 1]
milista2[::-1]

[1, 2, 4, 5, 7]

In [37]:
milista2[:2:-1]

[1, 2]

In [38]:
milista3 = ["pera","uva","manzana", "pera","platano"]
milista3

['pera', 'uva', 'manzana', 'pera', 'platano']

In [39]:
milista3.count("pera")

2

In [40]:
milista3.count("papaya")

0

In [48]:
milista4 = list((3,4,5))
milista4

[3, 4, 5]

In [54]:
midicc1 ={"age":22, "name":"Diana"}
midicc1

{'age': 22, 'name': 'Diana'}

In [55]:
midicc1["age"]

22

In [56]:
midicc1.get("last name", "no_key")

'no_key'

In [52]:
midicc1.keys()

dict_keys(['age', 'name'])

In [57]:
midicc1.values()

dict_values([22, 'Diana'])

In [65]:
midicc2 ={"age":22, "name":"Eve","age":24}
midicc1

{'age': 22, 'name': 'Diana'}

In [66]:
midicc2.items()

dict_items([('age', 24), ('name', 'Eve')])

In [71]:
var1 = 3
str(var1) #devuelve el valor de una variable en un string

'3'

In [75]:
len(midicc1)

2

In [76]:
len(milista2)

5

In [77]:
len(str(var1))

1

In [78]:
range(3) #es un iterable, contiene 0, 1, 2

range(0, 3)

In [81]:
var2 = range(1,5) #es un iterable, contiene  1, 2, 3, 4
var2

range(1, 5)

In [111]:
lista1 = ["Diana","Eve","Allan"]
lista2 = [22,23,24]

iterable1 = zip(lista1,lista2)
iterable1

In [112]:
#list(iterable1)

In [113]:
iterable2 = list(iterable1)
iterable2

[('Diana', 22), ('Eve', 23), ('Allan', 24)]

In [114]:
iterable2[0]

('Diana', 22)

In [115]:
iterable2[0][0]

'Diana'

In [116]:
iterable2[0][1]

22

In [118]:
iterable2[1]

('Eve', 23)

In [121]:
for n in milista3:
    if n !="pera":
        print(n)

uva
manzana
platano

In [123]:
i=5

while i !=0:
    print(i)
    i=i-1

5
4
3
2
1

In [124]:
def funcion1():
    print("Hola Mundo!")

funcion1()

Hola Mundo!

In [127]:
def funcion2(name):
    print(f"Hello", name)

def funcion3(name):
    print(f"Hello {name}")



funcion2("Peter")
funcion3("MJ")

Hello Peter
Hello MJ

In [129]:
def square(x):
    return x*x

square(3)

9

In [139]:
#Formula Leibniz pi = 4 x (1 - 1/3 + 1/5 - 1/7 + 1/9 -...)
# 1/(n+2)

def calc_Pi(i):
    numPi = 0
    num=1
    den=1

    for k in range(i):
        numPi = numPi + num/den
        num = num * -1
        den = den + 2
    return(4*numPi)

calc_Pi(10000)

3.1414926535900345